---
title: "Game Reviews List"
date: "2023-03-15"
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<Header />
<h1>Game Reviews List</h1> 

<ul>
  <li><a href="/game-reviews/game-review-1">Game Review 1: Title of the Game</a></li>
  <li><a href="/game-reviews/game-review-2">Game Review 2: Title of Another Game</a></li>
  <!-- Add more game reviews as needed -->
</ul>

<Footer />

<style>
    @import '../../static/css/styles.css';
  
    
  
    ul {
      list-style: none;
      padding: 0;
    }
  
    li {
      margin-bottom: 1rem;
    }
  
    a {
      text-decoration: none;
      color: #000000;
      font-weight: bold;
    }
  
    a:hover {
      text-decoration: underline;
    }
  </style>