---
---

<header>
	<h1>Gaming Blog</h1>
	<nav>
	  <ul>
		<li><a href="/">Home</a></li>
		<li><a href="/game-reviews">Game Reviews</a></li>
		<li><a href="/gaming-news">Gaming News</a></li>
	  </ul>
	</nav>
  </header>

  <style>
	@import '../../static/css/styles.css';
  </style>